<?xml version="1.0" encoding="utf-8" ?>
<venus>
  <components>
    <component service="Venus.Tests.IUserRepository, Venus.Tests" type="Venus.Tests.SqlUserRepository, Venus.Tests">
      <constructor>
        <param name="alias" value="sql" />
      </constructor>
    </component>
    <component service="Venus.Tests.ILogger, Venus.Tests" name="file" type="Venus.Tests.FileLogger, Venus.Tests">
      <property name="Alias" value="file" />
    </component>
    <component service="Venus.Tests.IUserService, Venus.Tests" type="Venus.Tests.UserService, Venus.Tests">
      <constructor>
        <param name="repository">
          <dependency type="Venus.Tests.IUserRepository, Venus.Tests" />
        </param>
      </constructor>
      <property name="Logger">
        <dependency type="Venus.Tests.ILogger, Venus.Tests" name="file" />
      </property>
    </component>
  </components>
  
  <components name="another">
    <assemblyScan>
      <namespace name="Venus.Tests.AutoRegistration" />
    </assemblyScan>
    <component service="Venus.Tests.IUserRepository, Venus.Tests" type="Venus.Tests.SqlUserRepository, Venus.Tests" />
    <component service="Venus.Tests.IUserRepository, Venus.Tests" name="oracle" type="Venus.Tests.OracleUserRepository, Venus.Tests" />
    <component service="Venus.Tests.ILogger, Venus.Tests" type="Venus.Tests.FileLogger, Venus.Tests" />
    <component service="Venus.Tests.ILogger, Venus.Tests" name="mail" type="Venus.Tests.MailLogger, Venus.Tests" />
    <include source="Controllers.config" />
    <include source="Other.config" />
  </components>
</venus>

<!--
  var container = new VenusContainer();
  container.LoadConfiguration();
  container.LoadConfiguration("another");
-->